.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include reset-list;
  }

  &__item {
    margin-left: 32px;
  }

  &__links{
      @include common-text(12px, 15px, $linkColor);
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      &:hover{
          color: $headingColor;
      }
      &--active{
          color: $headingColor;
      }
  }
}
